.home{
    background-image: url(../images/sky-690293.jpg);
    font-family: 'Allison', cursive;
    font-family: 'Patrick Hand', cursive;
            background-size: cover;
   background-position: center center;
   font-size: xx-large;
} 
.quote h1{
    font-size: 5rem ;
    font-weight: 900;
    color:#205564 ;
    /*color:#eff1da ;*/
}
.quote span{
    color:#205564 ;

}
.quote h4{ 
    color: #273f3f !important;
}
.randomQyote p{
color:#eff1da ;
font-size: 2.5rem;
}
.randomQyote h5{
    color:#eff1da ;
    font-family: 'Allison', cursive !important;
    font-size: 4rem !important;

}
.home button{
    background-color: #205564 !important;
    color: white !important;
}